body {
    text-align: center;
}

ul {
    max-width: 50%;
    margin-inline: auto;
}

li {
    text-align: left;
    line-height: 1.5rem;
    margin-block: 0.75rem;
}

#img-div {
    text-align: center;
}

#image {
    max-width: 100%;
    margin-inline: auto;
    display: block;
}
